.Slider {
    height: 100vh;
    /* width: 100%; */
    /* border: red solid 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: gray; */
    color: white;
    background-size: cover;
    box-shadow: inset 0px 0px 300px 240px rgba(0, 0, 0, 0.80);
    background-repeat: no-repeat;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/5523db5a-e2b2-497f-a88b-61f175c3dbad/eb90437e-a876-47c3-a138-ca27772a4d2a/IN-en-20230306-popsignuptwoweeks-perspective_alpha_website_small.jpg");
}

.Header {
    height: 100px;
    width: 100%;
    /* border: blue solid 1px; */
    display: flex;
    flex-wrap: wrap;
}

.logo {
    height: 100%;
    width: 70%;
    /* border: blue solid 1px; */
    display: flex;
    justify-content: start;
    padding-left: 30px;
}

.logo>img {
    height: 90%;
}

.sign-up {
    height: 100%;
    width: 30%;
    /* border: blue solid 1px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sign-up>select {
    border: none;
}

.drop_down {
    border: 1px white solid;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

}

.drop_down>select {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.sign-up>button {
    height: 20px;
    background-color: #E50914;
    /* border-radius: 8px; */
    color: white;
    height: 30px;
    border: none;
    width: 25%;
    outline: none;
}

.Center_Box {
    height: auto;
    width: 50%;
    /* border: 2px green solid; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    height: 60px;
    width: 80%;
    /* border: 1px solid purple; */
    display: flex;
    padding-top: 10px;
    /* color: red; */
}

.text>input {
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
}

.text>button {
    height: 100%;
    width: 25%;
    border: none;
    outline: none;
    background-color: #E50914;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.text1 {
    height: 160px;
    display: flex;
    justify-content: center;
    /* align-items: end; */
}

.text3 {
    padding-top: 20px;
}

.text1>h1 {
    font-size: 45px;
}

@media only screen and (max-width: 700px) {

    .Header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sign-up>.drop_down {
        display: none;
    }

    .sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }

    .sign-up>button {
        width: 80%;
    }

    .Center_Box {
        padding-top: 80px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
    }

    .text1 {
        /* display: none; */
        padding-bottom: 10px;
    }
    .text2{
        margin-top: 20px;
    }
    .text3{
        margin-top: 20px;
    }
    .text {
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        /* margin: 30px; */
    }

    .text>input {
        width: 60%;
    }

    .text>button {
        width: 30%;
    }
}