.mini_slider {
    padding-top: 5px;
    height: 60vh;
    width: 100%;
    /* border: 2px red solid; */
    display: flex;
}

.mini_slider.reverse {
    flex-direction: row-reverse;
}

.tv_text {
    height: 100%;
    width: 60%;
    /* border: 2px royalblue solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    
}

.tv_text>h1 {
    font-size: 50px;
}

.tv_images {
    height: 100%;
    width: 40%;
    /* border: 2px royalblue solid; */
    background-color: black;
}

.tv_images>img {
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 820px) {
    .mini_slider{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .tv_text{
        width: 100%;
        font-size: 18px;
        padding-inline: 20px;
    }
    .tv_text>h1{
        font-size: 33px;
    }
    .tv_images{
        display: none;
    }
  }