.stepthree {
    height: 100vh;
    width: 100%;
    /* border: 2px red solid; */
}

.stepthree_logo {
    height: 100px;
    width: 100%;
    /* border: 1px rebeccapurple solid; */
}

.Finish_setting {
    height: 80vh;
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manyIcons {
    height: 90px;
    width: 25%;
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
}

.finshText {
    height: 90px;
    width: 25%;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.manypara {
    height: 90px;
    width: 25%;
    /* border: 1px red solid; */
    display: flex;
    align-items: center;
    text-align: center;

}

.finishButton {
    height: 90px;
    width: 25%;
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.finishButton>button {
    width: 90%;
    height: 70%;
    background-color: #E50914;
    color: white;
    border: none;
    font-size: 20px;
}

#desktop {
    font-size: 70px;
    margin-left: 15px;
    margin-right: 15px;
    color: #E50914;
}

#laptop {
    font-size: 50px;
    color: #E50914;

}

#tablet {
    font-size: 35px;
    color: #E50914;

}

#mobile {
    color: #E50914;
    font-size: 20px;
    padding-left: 5px;
    /* padding-top: 20px; */
}

@media only screen and (max-width: 700px) {
    .stepthree_logo {
        height: 70px;
    }
    .finshText {
        /* margin-bottom: 50px; */
        width: 90%;
    }

    .manypara {
        width: 90%;
    }

    .finishButton {
        width: 90%;
    }
}