.Main_Asked_Questions {
    margin-top: 5px;
    height: auto;
    width: 100%;
    /* border: red solid 2px; */
}

.Main_Asked_top {
    height: 100px;
    width: 100%;
    /* border: 2px blue solid; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Main_Asked_top>h1 {
    font-size: 45px;
    font-weight: 800;
    color: white;
}

.center_Asked {
    height: auto;
    width: 100%;
    /* border: 2px green solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: black;
}

.bottom_Asked {
    height: 100px;
    width: 100%;
    /* border: 2px rgb(253, 250, 250) solid; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bottom_Asked>text {
    height: 100%;
    width: 20%;
}

@media only screen and (max-width: 700px) {

    .Main_Asked_top>h1 {
        /* margin-top: 10px; */
        font-size: 30px;
    }

}